= search_form_for @q, url: user_statements_path(@user), remote: true do |f|
  .col-sm-10
    .pull-left.filter
      From
    .col-md-4
      .form-group
        .datetimepicker.input-group.datetime
          = f.text_field :created_at_gteq, placeholder: 'From', class: 'form-control'
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar  
    .pull-left.filter
      To
    .col-md-4
      .form-group
        .datetimepicker.input-group.datetime
          = f.text_field :created_at_lteq, placeholder: 'To', class: 'form-control'
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
  .col-md-2
    = f.submit "Search", class: "btn btn-primary"


