<div class="container">
  <div class="col-md-12">
    <h3>Account Statement</h3>
    <%= render partial: 'filter' %>
 </div>
 <div id="user_statements">
  <%= render partial: 'statements' %>
</div>
</div>