<div class="container">
    <div class="col-md-12">
      <h3>Total Ammount of User</h3>
    </div>  
    <br>
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Total Balance</th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td><%= @user.ammount %></td>
            </tr>
        </tbody>
      </table>
    </div>
</div>
